<div class="row">
	<div class="container-fluid text-center img-responsive">
		<div class="row">
			<div class="col-xs-12 col-md-3 breakfast choices">
				<h1 class="breakfast">Breakfast</h1>
				<a href="<%= url %>"><h3><%= name %></h3></a>
				<img class="choice-border" src="<%= img %>">
				<h4>Rating: <%= rating %> Stars</h4>
				<p><%= snippet %></p>
				<button class="btn btn-info"onclick="myFunction()">Want a new choice?</button>
			</div>
			<div class="col-xs-12 col-md-3 lunch choices">
				<h1 class="lunch">Lunch</h1>
				<a href="<%= url %>"><h3><%= name %></h3></a>
				<img class="choice-border" src="<%= img %>">
				<h4>Rating: <%= rating %> Stars</h4>	
				<p><%= snippet %></p>
				<button class="btn btn-info"onclick="myFunction()">Want a new choice?</button>
			</div>
			<div class="col-xs-12 col-md-3 dinner choices">
				<h1 class="dinner">Dinner</h1>
				<a href="<%= url %>"><h3><%= name %></h3></a>
				<img class="choice-border" src="<%= img %>">
				<h4>Rating: <%= rating %> Stars</h4>
				<p><%= snippet %></p>
				<button class="btn btn-info"onclick="myFunction()">Want a new choice?</button>
			</div>
			<div id="dessert" class="col-xs-12 col-md-3 dessert choices">
				<h1 class="dessert">Dessert</h1>
				<a href="<%= url %>"><h3><%= name %></h3></a>
				<img class="choice-border" src="<%= img %>">
				<h4>Rating: <%= rating %> Stars</h4>
				<p><%= snippet %></p>
				<button class="btn btn-info"onclick="myFunction()">Want a new choice?</button>
			</div>
		</div>
	</div>
</div>